:root {
    --font-accent: 'Henny Penny', cursive;
    --font-primary: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    background:#0E0E0E url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

form label {
    font-family: var(--font-accent);
    font-size: 3em;
}

form button {
    font-family: var(--font-accent);
}


/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
.shake {
    -webkit-animation: shake_horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake_horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake_horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
  }
  @keyframes shake_horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
}

/**
 * ----------------------------------------
 * animation blink
 * ----------------------------------------
 */
.blink {
	-webkit-animation: blink 3000ms infinite both;
	        animation: blink 3000ms infinite both;
}

@-webkit-keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}